/* Body and structure
-------------------------------------------------- */

body {
    position: relative;
    padding-top: 40px;
    background-color: #f5f5f5;
}

.hidden {
    display: none;
}

.overflow-hidden {
    overflow: hidden;
    white-space: nowrap;
}


/* Fix styles
-------------------------------------------------- */

body p {
    font-size: medium;
    margin-bottom: 20px;
}

.page-header {
    margin-bottom: 20px;
    padding-bottom: 0;
}

label[class="control-label"] {
    color: #666666;
}

input[type="text"],
textarea,
select {
    color: #000000;
}

.scframework-webcontrols-tabs-multilanguageseditor .tabs-textarea,
.scframework-webcontrols-flow-multilanguageseditor input {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}

.body-container {
    padding: 0 0 100px 0;
    background-color: #ffffff;
    width: 100%;
}

.gridfix-item-padding > i {
    margin-top: 12px;
}

.gridfix-item-padding input {
    margin-top: 9px;
}

.fix-checkbox-rightlabel input[type='checkbox'],
.fix-checkbox-rightlabel input[type='radio'],
.fix-checkbox-inline label {
    float: left;
    margin-right: 10px;
}

.fix-check-box-list {
    display: block;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
}

    .fix-check-box-list label {
        padding-left: 10px;
        font-weight: normal !important;
    }

li.disabled {
    color: #C0C0C0;
}

.breadcrumb {
    margin-bottom: 0 !important;
}

.samemargin h1,
.samemargin h2,
.samemargin h3,
.samemargin h4,
.samemargin h5,
.samemargin h6 {
    margin-bottom: 5px !important;
    margin-top: 5px !important;
    line-height: normal;
}

.no-borders-radius {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

.vertical-spacer > div,
.vertical-spacer > span {
    padding-bottom: 3px;
}


/* Telerik
-------------------------------------------------- */

.RadInput_Metro .riTextBox {
    font-family: 'Helvetica Neue', Helvetica, Arial, 'sans-serif !important';
    font-size: 14px !important;
    height: 30px !important;
}

.RadUpload_Metro .ruFakeInput {
    display: none;
}

.RadUpload_Metro .ruBrowse {
    width: 95px !important;
}

.RadUpload_Metro .ruUploadProgress {
    width: 1px !important;
    overflow: hidden !important;
}

.RadComboBox .rcbInput {
    margin: 0;
}

div.RadComboBoxDropDown_Metro .rcbImage {
    max-height: 22px;
    max-width: 22px;
}

div.RadComboBoxDropDown_Metro .rcbItem {
    color: #000000 !important;
}

.RadFileExplorer .rfeAddressBox {
    display: none !important;
}


/* Loading panel
-------------------------------------------------- */

body > form .loading-panel {
    z-index: 1001;
    position: fixed;
    width: 100%;
    text-align: center;
    background-color: #CC0000;
    font-size: large;
    color: #FFFFFF;
    margin-top: 11px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    display: none;
}


/* Tweak navbar brand link to be super sleek
-------------------------------------------------- */

body > form > div > .navbar .brand {
    float: right;
}


/* Page header
------------------------- */
.page-title-content {
    position: relative;
    padding: 40px 0;
    color: #fff;
    text-align: left;
    border-bottom: 1px solid #ddd;
    text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
    background: #020031; /* Old browsers */
    background: -moz-linear-gradient(45deg, #020031 0, #6d3353 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0,#020031), color-stop(100%,#6d3353)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg, #020031 0,#6d3353 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg, #020031 0,#6d3353 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg, #020031 0,#6d3353 100%); /* IE10+ */
    background: linear-gradient(45deg, #020031 0,#6d3353 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#020031', endColorstr='#6d3353',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
    -moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
    box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
}


    .page-title-content .container {
        position: relative;
        z-index: 2;
    }

    .page-title-content:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: url(../images/bootstrap/bs-docs-masthead-pattern.png) repeat center center;
        opacity: .4;
    }

    .page-title-content h1 {
        font-size: 60px;
        font-weight: bold;
        letter-spacing: -1px;
        line-height: 1;
    }

    .page-title-content p {
        font-size: 24px;
        font-weight: 300;
        line-height: 30px;
        margin-bottom: 20px;
    }


/* Sections
-------------------------------------------------- */

/* padding for in-page bookmarks and fixed navbar */
section {
    padding-top: 40px;
}

.section-nopadding,
.section-nopadding > section {
    padding-top: 0;
}

section.div-inline div {
    float: left;
    margin-right: 5px;
}

    section.div-inline div:first-child {
        float: none;
        margin-right: 0;
    }


/* Bootstrap
-------------------------------------------------- */

.btn {
    border: 1px solid #CCCCCC;
}

.input-append button.btn [class^="icon-"],
.input-prepend button.btn [class^="icon-"] {
    margin-top: 3px !important;
    margin-bottom: 3px !important;
}

.input-append {
    display: block;
    white-space: nowrap;
}

    .input-append div:first-child {
        float: left;
    }

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

    .bs-callout a {
        color: #333;
    }

.bs-callout-danger {
    border-left-color: #ce4844;
}

.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}

.bs-callout-danger h4 {
    color: #ce4844;
}

.pre-clone {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.4285;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}

    .pre-clone p {
        font-size: 13px !important;
    }




/* Sidenav for Docs
-------------------------------------------------- */

.bs-docs-sidenav {
    width: 228px;
    margin: 30px 0 0;
    padding: 0;
    background-color: #fff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
    box-shadow: 0 1px 4px rgba(0,0,0,.065);
}

    .bs-docs-sidenav > li > a {
        display: block;
        *width: 190px;
        margin: 0 0 -1px;
        padding: 8px 14px;
        border: 1px solid #e5e5e5;
    }

    .bs-docs-sidenav > li:first-child > a {
        -webkit-border-radius: 6px 6px 0 0;
        -moz-border-radius: 6px 6px 0 0;
        border-radius: 6px 6px 0 0;
    }

    .bs-docs-sidenav > li:last-child > a {
        -webkit-border-radius: 0 0 6px 6px;
        -moz-border-radius: 0 0 6px 6px;
        border-radius: 0 0 6px 6px;
    }

    .bs-docs-sidenav > .active > a {
        position: relative;
        z-index: 2;
        padding: 9px 15px;
        border: 0;
        text-shadow: 0 1px 0 rgba(0,0,0,.15);
        -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
        -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
        box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
    }

    /* Chevrons */
    .bs-docs-sidenav .icon-chevron-right {
        float: right;
        margin-top: 2px;
        margin-right: -6px;
        opacity: .25;
    }

    .bs-docs-sidenav > li > a:hover {
        background-color: #f5f5f5;
    }

    .bs-docs-sidenav a:hover .icon-chevron-right {
        opacity: .5;
    }

    .bs-docs-sidenav .active .icon-chevron-right,
    .bs-docs-sidenav .active a:hover .icon-chevron-right {
        background-image: url(../images/bootstrap/glyphicons-halflings-white.png);
        opacity: 1;
    }

    .bs-docs-sidenav .buttons div + div {
        margin-top: 5px;
    }

@media (max-width: 992px) {

    .bs-docs-sidenav {
        width: 100%;
    }

    .affix {
        position: static;
    }
}


/* NavBar vertical divider
-------------------------------------------------- */

.navbar .divider-vertical {
    height: 50px;
    margin: 0 9px;
    border-right: 1px solid #ffffff;
    border-left: 1px solid #f2f2f2;
}

.navbar-inverse .divider-vertical {
    border-right-color: #222222;
    border-left-color: #111111;
}

@media (max-width: 767px) {
    .navbar-collapse .nav > .divider-vertical {
        display: none;
    }
}


/* Paragraph
-------------------------------------------------- */

.paragraph-menu {
    position: relative;
    float: right;
}

    .paragraph-menu input {
        margin: 0 0 5px 0;
        display: block;
    }

.paragraph-body {
    padding: 0 140px 0 0;
    font-size: 12px;
    color: #666666;
    min-height: 160px;
}

    .paragraph-body .image-container {
        padding: 2px;
        border: 1px solid #c0c0c0;
        margin: 0 20px 20px 0;
        float: left;
    }

        .paragraph-body .image-container img {
            background-color: #c0c0c0;
        }


/* Button
-------------------------------------------------- */

.two-buttons-inline div:first-child {
    float: left;
    margin-right: 5px;
}

.buttons-list div {
    display: block;
    margin-bottom: 2px;
}

.buttons-list input[type="button"] {
    width: 60%;
}


/* Breadcrumbs
-------------------------------------------------- */

.breadcrumbs {
    background-color: #f5f5f5;
}

    .breadcrumbs .container ul {
        position: relative;
        left: -15px;
    }


/* Boxes
-------------------------------------------------- */

.standard-box {
    border: 1px solid #CCCCCC;
    padding: 5px;
    overflow: auto;
}


/* List
-------------------------------------------------- */

.single-column-list {
}

.single-column-list-item {
    padding: 10px;
    border: 1px solid #C0C0C0;
    background-color: #fcfcfc;
    margin-bottom: 10px;
}

    .single-column-list-item .command input {
        display: block;
        margin-bottom: 5px;
    }

.double-column-list {
    text-align: left;
    width: 100%;
    clear: both;
}

    .double-column-list li {
        width: 49%;
        float: left;
        list-style-type: none;
    }

    .double-column-list label {
        position: relative;
        padding-left: 30px;
        float: left;
    }

    .double-column-list a {
        position: relative;
        margin-left: 20px;
    }

    .double-column-list input[type=radio],
    .double-column-list input[type=checkbox] {
        position: absolute;
        top: 0;
        left: 0;
    }


/* Check list
-------------------------------------------------- */

.check-list {
    padding-top: 10px;
}

    .check-list td {
        white-space: nowrap;
    }

        .check-list td:first-child {
            padding-right: 20px;
        }

    .check-list input {
        float: left;
        margin-right: 6px;
    }

.check-box-list input[type="checkbox"] {
    margin-right: 6px;
}

.check-box-list label {
    display: inline;
}


/* Footer
-------------------------------------------------- */

.footer {
    padding: 30px 0;
    border-top: 1px solid #e5e5e5;
    background-color: #f5f5f5;
    position: relative;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
}

    .footer .col-md-4 {
        text-align: right;
    }

    .footer span {
        display: block;
    }
